.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
h1{
  display: block;
  text-align: center;
  padding: 15px;
  border: 10px solid black;
}
body{
  background-color: #066042
}
.column{
  float: left;
  width: auto;
  padding: 10px;
}
.column2{
  float: left;
  width: auto;
  padding: 10px;
}
h2{
  text-align: center;
}
